:root {
  --border-grey: hsl(0deg, 0%, 40%);
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.intro-chunk{
    max-width: 360px;
    padding-left: 64px; 
    margin-bottom: 48px;
}

p, h2, h1 {
  margin : 16px;
}

h1 {
  margin-bottom : 32px;
}

strong {
  color : hsl(160deg, 100%, 30%);
}

main {
  border-top : 8px solid var(--border-grey); 
  background-color : hsl(0deg, 0%, 60%);
  padding-left: 64px;
  padding-top: 64px;
  padding-bottom: 36px;
}

.card {
   background-color: white;
   max-width: 600px;
   border-bottom: 8px solid var(--border-grey);
}

.indented-heading {
  background-color : hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding : 24px 32px;
  margin-left : -16px;
  width : fit-content;
}